---
import Section from "../ui/Section.astro";
import SwotBoard from "../islands/SwotBoard.tsx";
import { swot } from "../../content/swot";
---
<Section
  id="swot"
  label="SWOT"
  desc="Kekuatan, celah & kompetitor Opsi 5 & 6"
  eyebrow={swot.eyebrow}
  title={swot.headline}
>
  <div class="rv" style="width:100%; display:flex; flex:1; min-height:0">
    <SwotBoard client:load />
  </div>
</Section>
